.author-box {
  @extend .entry;
  color: lighten($text, 50%);
  font-family: $txtBody;
  img {
    display: block;
    border-radius: 50%;
    margin: 0 auto $spacer;
  }
  .author-box-title {
    font-size: $spacer;
    font-weight: 300;
    margin-bottom: $tenpx;
    text-align: center;
  }
  .author-box-content {
    border-top: 1px solid lighten($text, 50%);
    padding-top: $spacer;
    text-align: center;
  }
}

.author__contact {
  @extend %clearfix;
  margin-top: $spacer;
  // .contact--details {
    .social {
      display: inline-block;
      a {
        color: lighten($text, 100%);
        font-size: .7em;
        font-weight: 700;
        padding: $tenpx / 2 $tenpx;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
    .facebook {
      a {
        background-color: $facebook;
      }
    }
    .twitter {
      a {
        background-color: $twitter;
      }
    }
    .linkedin {
      a {
        background-color: $linkedin;
      }
    }
    .google {
      a {
        background-color: $google;
      }
    }
    .youtube {
      a {
        background-color: $youtube;
      }
    }
    .rss {
      a {
        background-color: $rss;
      }
    }
    .instagram {
      a {
        background-color: $instagram;
      }
    }
    > span {
      float: left;
      margin-right: $tenpx;
    }
  // }
}
