.btn {
	background: $secondaryColor;
	padding: 1.2em 0.938em;
	color: #fff;
	display: inline-block;
	font-family: $txtHeading;
	font-size: .8em;
	font-weight: 700;
	width: auto;
	border: none;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	line-height: 1;
	cursor: pointer;
	transition: all .1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover,
	&:focus {
		background-color: darken($secondaryColor, 10%);
		color: lighten($text, 100%);
	}
}
