.btn {
	background: $secondaryColor;
	padding: .875em 0.938em;
	color: #fff;
	display: inline-block;
	font-family: $Lato;
	font-weight: 600;
	width: auto;
	border: none;
	border-radius: 3px;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all .1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover,
	&:focus {
		background-color: darken($secondaryColor, 10%);
	}
}
