// Genesis Enews Extended
.home__callToAction {
	background: lighten( $masterColor, 10% );
	// box-shadow: 0 2px 20px -2px rgba($text, .6);
	color: lighten( $text, 100% );
	padding: 40px 20px;
	text-align: center;

	form {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		width: 960px;
	}

	input[type="email"],
	input[type="submit"] {
		flex: 1;
		margin-right: 5px;
		width: 45%;
	}
	input[type="submit"] {
		text-transform: uppercase;
	}
	p {
		font-size: 1.5em;
	}
}

// Items in the blog
.home__blog--items {
  margin: 40px 0;
  .widget-title {
    border-bottom: 1px solid lighten($text, 50%);
    color: lighten($text, 50%);
    font-family: $txtHeading;
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
  .widget-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .entry {
    margin: 0;
    padding: 20px;
    width: 31.623931623931625%;
    &:nth-child(odd) {
      background: $masterColor;
      color: invert($text);
    }
  }
  .avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto 1em;
  }
  .entry-title {
    font-size: 1.2em;
  }
}
