.genesis-nav-menu {
	@extend %clearfix;
	clear: both;
	font-family: $sans;
	font-size: .75em;
	width: 100%;

	// Applied to all menu <li>s
	.menu-item {
		a {
			color: $text;
			font-weight: 400;
			text-decoration: none;
			display: block;
			padding: .625em 1.2em;
			position: relative;
			text-transform: uppercase;
			&:hover,
			&:focus {
				color: $secondaryColor;
				// box-shadow: 0 -2px 0 0 $masterColor inset;
			}
		}
	}

	// First level
	> .menu-item {
		color: $text;
		position: relative;
		display: inline-block;
		float: left;
		text-align: left;

		&:hover,
		&:focus {
			> .sub-menu {
				left: auto;
				opacity: 1;
			}
		}

		&.current-menu-item {
			> a {
				@extend a:hover;
				box-shadow: 0 -2px 0 0 $masterColor inset;
			}
		}

		> a {
		}
		&::after {
			content: "\f111";
			color: $secondaryColor;
			font-family: fontawesome;
			position: absolute;
	    top: 36%;
	    right: -5px;
	    font-size: .1em;
		}
		&:last-child {
			&::after {
				// @extend &::after;
				content: "";
			}
		}
	}

	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 999;
		opacity: 0;
		transition: opacity .4s ease-in-out;
		white-space: nowrap;

		> .menu-item {
			background: $text;
			border-bottom: 1px solid darken($text, 10%);
			position: relative;
			> a {
				color: lighten($text, 100%);
				font-size: 1em;
				padding: 1em 1.5em;
				position: relative;
				text-transform: capitalize;
				&:hover,
				&:focus {
					@extend a:hover;
					background: $secondaryColor;
					color: $text;
				}
			}
			&:last-child {
				border: none;
			}
			&:hover {
				> .sub-menu {
					left: 99.7%;
					opacity: 1;
					top: 0;
				}
			}
		}
	}
}
.nav-primary {
	background-color: $section;
	.menu-item {
		a {
			@extend a;
			// color: lighten($text, 40%);
			// padding: .625em 1.2em;
			font-size: 1.3em;
			text-transform: capitalize;
			&:hover {
				@extend a:hover;
			}
		}
		&.current-menu-item {
			@extend a:hover;
		}
	}
}

.nav-secondary {

}

.header-widget-area {
	.genesis-nav-menu {
		> .menu-item {
			&::after {
				@extend .menu-item::after;
				top: 30%;
			}
			a {
				text-transform: uppercase;
			}
		}
	}
}
