.post__header {
  height: 450px;
  background-size: 100%;
  background-position: center center;
  position: relative;
  .overlay {
    background-color: rgba($masterColor, .5);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .breadcrumb {
    @extend %page-header;
    font-size: 2vw;
  }
  .category--title {
    @extend %page-header
  }
  a {
    color: lighten($text, 100%);
    text-decoration: none;
  }
}
